{{!-- Register head partial --}}
{{#*inline "head"}}
    {{> partials/head}}
{{/inline}}

<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    <h1>webpack starter</h1>
    <p>A lightweight foundation for your next webpack based frontend project.</p>
</body>

</html>