// Bootstrap
// @import "bootstrap/scss/functions";

// UIKit
// 1. Your custom variables and variable overwrites.
// $global-link-color: #da7d02;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme";
@import "uikit/src/scss/mixins-theme";

// 4. Import UIkit.
// @import "uikit/src/scss/uikit-theme";
@import "uikit/src/scss/components/variables";
@import "uikit/src/scss/components/mixin";
// @import "uikit/src/scss/components/base";

// @import "uikit/src/scss/components/link";
// @import "uikit/src/scss/components/heading";
// @import "uikit/src/scss/components/divider";
// @import "uikit/src/scss/components/list";
// @import "uikit/src/scss/components/description-list";
// @import "uikit/src/scss/components/table";
// @import "uikit/src/scss/components/icon";
// @import "uikit/src/scss/components/form-range";
// @import "uikit/src/scss/components/form"; // After: Icon, Form Range
// @import "uikit/src/scss/components/button";
// @import "uikit/src/scss/components/progress";

@import "uikit/src/scss/components/section";
@import "uikit/src/scss/components/container";
@import "uikit/src/scss/components/tile";
@import "uikit/src/scss/components/card";

$baseline-unit: 10px;

:root {

	/* Font Family */
	--global--font-primary: var(--font-headings, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif);
	--global--font-secondary: var(--font-base, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif);

	/* Colors */
	--global--color-text: #35393e; // Body text color
	--global--color-background: #fff; // Default body background
	--global--color-primary: #0ea6cc; // Primary accent color
	--global--color-secondary: #a98b67; // Secondary accent color

	/* spacing */
	--global--spacing-unit: #{2 * $baseline-unit}; // 20px
	--global--spacing-measure: unset; // Use ch units here. ie: 60ch = 60 character max-width
	--global--spacing-horizontal: #{2.5 * $baseline-unit}; // 25px
	--global--spacing-vertical: #{3 * $baseline-unit}; // 30px.

	/* elevation */
	--global--elevation: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);

	/* inverse */
	--inverse--color-text: var(--global--color-background);
	--inverse--color-background: var(--global--color-text);

}

/* generic */

body {
	width: 100%;
	background-color: var(--global-color-background);
}

/* helper classes */
.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

%screen-height {
	min-height: 100vh;
}

%screen-width {
	position: relative;
	left: calc(50% - 50vw);
	width: 100vw;
	max-width: 100%;
}

.screen-height {
	@extend %screen-height;
}

/* site */
.site {
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;

	@extend %screen-height;
}

/* modifiers */
.color-primary {
	color: var(--global--color-primary);
}

/* modifiers */
.color-secondary {
	color: var(--global--color-secondary);
}
