<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>webpack starterkit</title>
	<meta name="description" content="A light foundation for your next frontend project based on webpack.">
</head>

<body>
	<div id="page" class="site">
		<main class="site-main page-main-content content-area">
			<section class="uk-section splash-header screen-height">
				<div class="wrapper splash-header-wrapper">
					<a href="#" class="logo uk-logo">
						<img src="" alt="">
					</a>
					<div class="page-headline splash-headline">
						<h2 class="headline">
							Experimenta la tranquilidad
						</h2>
						<a href="#" class="button button-primary">
							Descarga nuestro brochure
							<i class="icon icon-download"></i>
						</a>
					</div>
					<div class="floating-logo">
						<img src="" alt="Promotora de Hogares">
					</div>
				</div>
			</section>
			<section class="uk-section uk-section-small banner banner-small">
				<div class="wrapper uk-flex media-slogan-wrapper">
					<img src="" class="decoration-element decoration-element-left">
					<h2>
						Privacidad y confort
						<span class="color-primary">
							para ti y tu familia
						</span>
					</h2>
				</div>
			</section>
			<section class="uk-section">
				<div class="wrapper uk-flex">
					<div class="col">
						<p>
							<span class="font-alt h2">Espacios y amenidades</span>
							<br>
							<span class="h3">que te <span class="color-secondary font-600">inspiran</span> todos los días</span>
						</p>
					</div>
					<div class="col">
						<img src="" alt="">
						<img src="" alt="">
						<img src="" alt="">
					</div>
				</div>
			</section>
			<section class="uk-section no-margin no-padding gallery">
				<div class="wrapper full-width">
					<img src="" alt="">
					<img src="" alt="">
					<img src="" alt="">
				</div>
			</section>
			<section class="uk-section about">
				<div class="wrapper">
					<h2>
						<span class="font-alt">
							Tu nueva casa
						</span>
						<br>
						cerca de todo
					</h2>
					<div class="icon-box-container">
						<div class="card">
							<div class="card-media"><img src="" alt=""></div>
							<div class="card-body">
								<div class="card-title">
									Atracciones turísticas
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-media"><img src="" alt=""></div>
							<div class="card-body">
								<div class="card-title">
									Escuelas
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-media"><img src="" alt=""></div>
							<div class="card-body">
								<div class="card-title">
									A 25 minutos de la Garita de San Ysidro
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-media"><img src="" alt=""></div>
							<div class="card-body">
								<div class="card-title">
									A 10 minutos de la Garita de San Ysidro
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-media"><img src="" alt=""></div>
							<div class="card-body">
								<div class="card-title">
									A 10 minutos de centros comerciales
								</div>
							</div>
						</div>
					</div>
					<div class="go-to-location">
						<h4>
							Ubicación
						</h4>
						<a href="#" class="button open-google-maps">
							Google Maps
						</a>
					</div>
				</div>
			</section>
			<section class="uk-section prototipos">
				<ul uk-tab>
					<li class="uk-active">Amalfi</li>
					<li>Génova</li>
					<li>Santorini</li>
					<li>Marcella</li>
					<li>Venecia</li>
					<li>Sorrento</li>
					<li>San Marino</li>
					<li>San Remo</li>
				</ul>
				<div class="uk-switcher">
					<div>
						<div class="wrapper uk-flex">
							<div class="col">
								<h3>Amalfi</h3>
							</div>
							<div class="col">
								<img src="" alt="">
							</div>
						</div>
					</div>
					<div>
						<div class="wrapper uk-flex">
							<div class="col">
								<h3>Genova</h3>
							</div>
							<div class="col">
								<img src="" alt="">
							</div>
						</div>
					</div>
					<div>
						<div class="wrapper uk-flex">
							<div class="col">
								<h3>Santorini</h3>
							</div>
							<div class="col">
								<img src="" alt="">
							</div>
						</div>
					</div>
					<div>
						<div class="wrapper uk-flex">
							<div class="col">
								<h3>Marcella</h3>
							</div>
							<div class="col">
								<img src="" alt="">
							</div>
						</div>
					</div>
					<div>
						<div class="wrapper uk-flex">
							<div class="col">
								<h3>Venecia</h3>
							</div>
							<div class="col">
								<img src="" alt="">
							</div>
						</div>
					</div>
					<div>
						<div class="wrapper uk-flex">
							<div class="col">
								<h3>Sorrento</h3>
							</div>
							<div class="col">
								<img src="" alt="">
							</div>
						</div>
					</div>
					<div>
						<div class="wrapper uk-flex">
							<div class="col">
								<h3>San Marino</h3>
							</div>
							<div class="col">
								<img src="" alt="">
							</div>
						</div>
					</div>
					<div>
						<div class="wrapper uk-flex">
							<div class="col">
								<h3>San Remo</h3>
							</div>
							<div class="col">
								<img src="" alt="">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="uk-section contact-us">
				<div class="wrapper">
					<div class="uk-width uk-card">
						<div class="uk-card-body">
							<h2>
								<span class="font-600">
									¡Solicita más información
								</span>
								<br>
								y aparta tu nueva casa ahora!
							</h2>
							<form class="uk-form-stacked" action="">
								<div>
									<div class="uk-form-label">
										Nombre
									</div>
									<input type="text" class="uk-input">
								</div>
								<div>
									<div class="uk-form-label">
										Teléfono
									</div>
									<input type="tel" class="uk-input">
								</div>
								<div>
									<div class="uk-form-label">
										Correo
									</div>
									<input type="email" class="uk-input">
								</div>
								<div>
									<button class="button button-secondary">
										Descargar brochure
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>	
		</main>
		

		<footer class="uk-section site-footer page-footer">
			<div class="col">
				<a href="#" class="uk-logo footer-logo">
					<img src="" alt="Mar Abierto - Residencial">
				</a>
			</div>
			<div class="col">
				<ul class="contant-info">
					<li class="phone">(664) xxx xxxx</li>
					<li class="email"><a href="mailto:email@domain.com">email@domain.com</a></li>
					<li class="location"><a href="#">Playas de Tijuana</a></li>
				</ul>
			</div>
			<div class="col">
				<ul class="social-links">
					<li class="fb"><a href="fb" alt="Síguenos por Facebook">Fb</a></li>
					<li class="wa"><a href="wa" alt="Envíanos un mensaje por WhatsApp">Wa</a></li>
					<li class="ig"><a href="ig" alt="Síguenos por Instagram">Ig</a></li>
					<li class="in"><a href="in" alt="LinkedIn">In</a></li>
				</ul>
			</div>
			<div class="col">
				<a href="#" class="uk-logo footer-logo">
					<img src="" alt="Promotora de Hogares">
				</a>
			</div>
		</footer>
	</div>
</body>

</html>